# React
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
cosmetic-shop/node_modules/
cosmetic-shop/dist/
cosmetic-shop/build/
cosmetic-shop/.env

# C#
backend/bin/
backend/obj/
backend/.vs/
backend/*.user
backend/appsettings.Development.json
CosmeticShop_Backend/.vs/
CosmeticShop_Backend/**/bin/
CosmeticShop_Backend/**/obj/
CosmeticShop_Backend/**/*.user
CosmeticShop_Backend/**/appsettings.Development.json

# System
.DS_Store
Thumbs.db
.vscode/